1. Pré-requisitos
- Node.js LTS
- Git
- Android Studio (Emulador) ou dispositivo móvel com Expo Go.

2. Instalação Local
Abra o terminal e execute os comandos em ordem:

# Clone o repositório
git clone https://github.com/GabrielSimioni12/Fiap-2CCPW-CP1-Refectory-app.git

# Acesse a pasta
cd Fiap-2CCPW-CP1-Refectory-app

# Instalação das dependências (IMPORTANTE: Use esta flag para evitar erros de peer-deps)
npm install --legacy-peer-deps

# Caso o erro de "react-dom" persista, force a instalação:
npm install react-dom --legacy-peer-deps

3. Execução

# Inicie o servidor Metro com limpeza de cache
npx expo start -c

- Pressione a para abrir no emulador Android.
- Escaneie o QR Code para abrir no celular físico.